rect.path{
	fill:blue;
	color: blue;
}

line.linkBetweenObj{
	stroke : black;

}

#collapseExample {
	position: absolute;
	bottom: 0;
	right: 30;
/*	width: 200px;*/
	background-color: #fff;
	opacity: 0.9;
}