rect.path{
	fill:blue;
	color: blue;
}

#collapseExample {
	position: absolute;
	bottom: 0;
	right: 30;
/*	width: 200px;*/
	background-color: #fff;
	opacity: 0.9;
}

collapseLinkInfo {
	position: absolute;
	bottom: 0;
	right: -20;
/*	width: 200px;
	background-color: #fff;
	opacity: 0.9;
*/
}


svg {
    
    height: 100%;
    display:block;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
}